# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# Секреты
AdaptLingo/Services/Config.swift
AdaptLingo/Authentification/Model/Supabase.swift

# ML модели (слишком большие для GitHub)
AdaptLingo/ML/

# Python virtual environment
.venv*/
venv/
__pycache__/

# macOS
.DS_Store
